<html>
  <head>
    <meta charset="utf-8" />
    <title>Anomaly Detection Web App</title>
  </head>
  <body>
    <form
      action="/search"
      method="POST"
      enctype="multipart/form-data"
      name="searchForm"
      typeget="result"
    >
      <table>
        <tr>
          <td>
            <select name="algorithm">
              <option value="null" selected>---</option>
              <option value="first">Regression Algoirthm</option>
              <option value="second">Hybrid Algoirthm</option>
            </select>
          </td>
          <td>בחר אלגוריתם</td>
        </tr>
        <tr>
          <td><input type="file" name="training_file"</td>
          <td>קובץ תקין ללא חריגות</td>
        </tr>
        <tr>
          <td><input type="file" name="testing_file"</td>
          <td>קובץ עם חריגות</td>
        </tr>
        <tr>
          <td><output name="result" /></td>
          <td>פלט</td>
        </tr>
      </table>
      <br />
      <input type="submit" name="submit" />
    </form>
    <br />
    <frame name="result" width="80%" height="500"></frame>
  </body>
</html>
