<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet" type="text/css" />
    <link rel="ICON" href="./styles/airplane_icon_126136.png" type="image/ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet" />
    <title>Anomaly Detection Server</title>
    <header className="App-header">
        <h1>Welcome to Anomaly Detection Server</h1>
    </header>
</head>

<body>
    <form action="/detect" method="POST" enctype="multipart/form-data" name="searchForm" typeget="result">
        <table>
            <tr>
                <td>
                    <select name="algorithm">
              <option value="None" selected>---</option>
              <option value="Regression Algoirthm">Regression Algoirthm</option>
              <option value="Hybrid Algoirthm">Hybrid Algoirthm</option>
            </select>
                </td>
                <td class="td-text">בחר אלגוריתם</td>
            </tr>
            <tr>
                <td><input type="file" name="training_file" </td>
                    <td class="td-text">קובץ תקין ללא חריגות</td>
            </tr>
            <tr>
                <td><input type="file" name="testing_file" </td>
                    <td class="td-text">קובץ עם חריגות</td>
            </tr>
            <tr>
                <td><output name="result" /></td>
                <td class="td-text">פלט</td>
            </tr>
        </table>
        <br />
        <input type="submit" name="submit" />
    </form>
    <br />
    <frame name="result" width="80%" height="500"></frame>
</body>

</html>