<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet" type="text/css" />
    <link rel="ICON" href="./styles/airplane_icon_126136.png" type="image/ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300display=swap" rel="stylesheet" />
    <title>Anomaly Detection Results</title>
</head>

<body>
    <font size=12>Run <!--algorithm--> with threshold of <!--threshold--></font>

    <font size=12>Find anomalies between the following files: </font>
    <font size=12>  1) Train file:  <!--trainName--></font>
    <font size=12>  2) Test file:   <!--testName--></font>

    <!--anomalies-->

</body>

</html>